/* Style général du corps */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style de la liste de la navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style des éléments de la liste */
li {
  float: left;
}

/* Style des liens */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Changement de couleur au survol */
li a:hover:not(.active) {
  background-color: #111;
}

/* Style pour le lien actif */
.active {
  background-color: #04AA6D;
}

/* Styles additionnels pour la navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

ul.navbar li.right {
  float: right;
}

/* Adaptation pour les petits écrans */
@media screen and (max-width: 600px) {
  ul.navbar li.right, 
  ul.navbar li {
    float: none;
  }
}

/* Ajout de marges pour le contenu */
body > div:not(.navbar) {
  padding-top: 60px;
}

#navProfile, #navLogout {
  display: none;
}

#navRegister, #navLogin {
  display: inline;
}

